.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3e8e41;
    color: white;
  }

 .watch{ 
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif';
   }